<section>
  <article>
    <h3>Interpolation/Interpolação</h3>
    <p>String reenderizada com interpolação: {{ url }} </p>
    <p>Resultado de 1 + 1 é : {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é : {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <!-- Maneira 1 de usar o property binding  -->
    <img src="{{ urlImagem }}" alt="">
    <!-- Maneira 2 de usar o property binding  -->
    <img [src]="urlImagem" alt="">
    <!-- Maneira 3 de usar o property binding  -->
    <img bind-src="urlImagem" alt="">
  </article>
</section>
