<section class="two-way-binding">
  <article>
    <h3>Two-way data binding</h3>

    <div>
      <input
        type="text"
        [value]="nome"
        (input)="nome =name.value"
        #name
      >

      <input
        type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      >

      <!--Pode ser bindon-ngModel também-->
      <input
        type="text"
        [(ngModel)]="nome"
        (ngModelChange)="nome = $event"
      >

      <div>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
        <p>Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} anos de idade</p>
      </div>



      <p>O nome é {{nome}}</p>
    </div>
  </article>
</section>

